<h1><%= album.albumname %></h1>

<% album.images.forEach(function(image){ %>
	<div class="thumbnail">
		<img src="/photo/<%= image.imageid %>">
		<h2><%= image.imagename %></h2>
		<p><%= image.description %></p>
	</div>	
<% })%>