<% include partials/header%>

<div class="container">
	<nav aria-label="breadcrumb" class="mt-2">
		<ol class="breadcrumb">
			<li class="breadcrumb-item my-auto"><a href="/">Home</a></li>
			<li class="breadcrumb-item my-auto"><a href="/albums">My Albums</a></li>
			<li class="breadcrumb-item my-auto active" aria-current="page"><%= album.albumname %></li>
			<div class="ml-auto">
				<a href="/photo/upload" class="btn btn-secondary btn-sm"><i class="fas fa-upload mr-1"></i>Upload</a>
			</div>
		</ol>

	</nav>

	<div class="row">
		<% if(album.images.length == 0){ %>
			<div>
				<img class="rounded mx-auto d-block" style="width: 30%;" src="/assets/images/no-album.jpg">
				<h4 class="mt-3 text-center">No image.<a href="/photo/upload"> Upload</a> one?</h4>
				
			</div>
		<% } else { %>
			<% album.images.forEach(function(image){ %>
				<a href="/photo/<%= image.imageid %>" class="col-md-4 mb-2">
					<img class="img-thumbnail rounded mx-auto d-block album-show" src="/photo/<%= image.imageid %>">
				</a>	
			<% }); %>
		<% } %>
	</div>
</div>

<% include partials/footer%>