<% include partials/header%>


<% if(Object.keys(albums).length === 0){ %>
	<p>You do not have any album.</p>
	<a href="/albums/create">Create one</a>
<% }else{ albums.forEach(function(album){ %>
	<div>
		<a href="/albums/<%= album.id %>"><%= album.albumname %></a>
	</div>
<% }); } %>



<% include partials/footer%>