<% include partials/header%>

<div class="container">
	<div class="row">
		<% if(Object.keys(albums).length === 0){ %>
			<p>You do not have any album.</p>
			<a href="/albums/create">Create one</a>
		<% }else{ albums.forEach(function(album){ %>
			<div class="col-md-3">
				<img class="img-thumbnail" src="assets/images/empty-album.png">
				<div class="caption">
					<a href="/albums/<%= album.id %>"><h4><%= album.albumname %></h4></a>
				</div>
			</div>
		<% }); } %>
	</div>

</div>




<% include partials/footer%>