<% include partials/header%>

<div class="container">
	<div class="row">
		<h1 style="text-align: center; width: 100%; margin-top: 40px">Create New Album</h1>

		<div style="width: 40%; margin: 25px auto;">
			<form action="/<%= currentUser.username %>/albums" method="post">
				<div class="form-group">
					<label for="albumname">Album name:</label>
					<input class="form-control" type="text" name="albumname" required="true">
				</div>
				<div class="form-group">
					<label for="type">Type</label>
					<select class="form-control" name="albumtype" required="true">
						<option value="Public">Public</option>
						<option value="Private">Private</option>
					</select>
				</div>
				
				<button style="width: 100%" class="btn btn-lg btn-secondary">Create</button>
			</form>
		</div>
	</div>
</div>



<% include partials/footer%>