<% include partials/header%>
<div class="container">
    <div class="row d-flex justify-content-center">
      <h1 style="text-align: center; width: 100%; margin-top: 40px">Crop your profile photo</h1>
    </div>

    <div class="row d-flex justify-content-center">
      <div id="croppage">
        <div id="cropwindow">
        </div>
        <button class="btn btn-primary">Crop</button>
      </div>
    </div>
</div>




<script>
var basic = $('#cropwindow').croppie({
    viewport: {
      width: 150,
      height: 150,
      type: 'circle'
    }
  });
  basic.croppie('bind', {
    url: "/photo/<%= currentUser.profilephotoid %>"
  });

</script>


<% include partials/footer%>