<% include partials/header%>
	

<div class="row" id="idx">
	<div class="col-md-3">
		<div class="sidenav">
			<a class="nav-link" href="#">Active</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link" href="#">Link</a>
			<a class="nav-link" href="#">Disabled</a>
		</div>
	</div>
	<div class="mainpic col-md-9">
		<h1 class="display-4 text-light">Welcome to Photoshare.</h1>
		<p class="lead text-light">Currently just for testing the MEAN stack. However, give it a try if you are interested!</p>
		<a class="btn btn-lg btn-primary" href="/secret">The secret page</a>
	</div>
</div>		





<% include partials/footer%>