<% include partials/header%>
<h1>Login</h1>

<form action="/login" method="post">
	<label for="username">Username:</label>
	<input type="text" name="username">
	<label for="password">Password:</label>
	<input type="password" name="password">
	<button>Submit</button>

</form>

<% include partials/footer%>