.mainpic{
	background: url(../images/background.jpg);
	height: 350px;
}

.mainpic h1 {
	padding-top: 80px;
	padding-left: 80px;
}

.mainpic p {
	padding-top: 10px;
	padding-left: 80px;
}

.mainpic a {
	margin-left: 80px;
}