body {
    padding-top: 60px;
}

#idx {
	background: url(../images/background.jpg);
	background-size: auto;
	height: 100%;
	width: 100%;
	position: fixed;
    margin-left: 0px;
}

.navbar {
	border-bottom: solid 4px rgb(122,113,231);
}



.mainpic h1 {
	padding-top: 80px;
	padding-left: 80px;
}

.mainpic p {
	padding-top: 10px;
	padding-left: 80px;
}

.mainpic a {
	margin-left: 80px;
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: rgba(99,99,99,0.6);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255,255,255);
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.samesize {
    width: 230px;
    height:230px;
    object-fit: contain;
}
.album-show {
    width: 350px;
    height:230px;
    object-fit: contain;
}

.album-modal-image {
    width: 640px;
    height:480px;
    object-fit: contain;
    margin: auto;
    display: block;

}